{
    "@context": {
      "@vocab": "https://schema.org/", 
      "xsd": "https://www.w3.org/TR/xmlschema-2/#",
      "rdfs": "http://www.w3.org/2000/01/rdf-schema#",
      "dc": "http://purl.org/dc/terms/",
      "dcat": "https://www.w3.org/ns/dcat#",
      "freq": "http://purl.org/cld/freq/",
      "qudt": "http://qudt.org/schema/qudt/",
      "qudt-units": "http://qudt.org/vocab/unit/",
      "qudt-quantkinds": "http://qudt.org/vocab/quantitykind/",
      "gsp": "http://www.opengis.net/ont/geosparql#",
      "locType": "http://vocabulary.odm2.org/sitetype",
      "odm2var":"http://vocabulary.odm2.org/variablename/",
      "odm2varType": "http://vocabulary.odm2.org/variabletype/",
      "hyf": "https://www.opengis.net/def/schema/hy_features/hyf/",
      "skos": "https://www.opengis.net/def/schema/hy_features/hyf/HY_HydroLocationType",
      "ssn": "http://www.w3.org/ns/ssn/",
      "ssn-system":  "http://www.w3.org/ns/ssn/systems/"
    },
    {# Don't do a null check here, we have to have this key #}
    "@id": "{{data['@id']}}",
    "@type": [
      "hyf:HY_HydrometricFeature",
      "hyf:HY_HydroLocation",
      "locType:stream"
    ],
    "hyf:HydroLocationType": "hydrometric station",
    "sameAs": {
      "@id": "https://geoconnex.us/ref/gages/{#Was told to not worry about changing this for time being, no way to get this without a geospatial query #}"
    },
    "identifier": {
      "@type": "PropertyValue",
      "propertyID": "USGS site number",
      {% if data['monitoringLocationNumber'] %}
        "value": "{{data['monitoringLocationNumber']}}"
      {% endif %}
    },
    {% if data['name']%}
     "name": "{{data['name']}}",
    {% endif %}
    "description": "Stream/River Site",
    {# We cannot get this info from the jsonld output, need to hard code it outselves #}
    "provider": {
      "url": "https://waterdata.usgs.gov",
      "@type": "GovernmentOrganization",
      "name": "U.S. Geological Survey Water Data for the Nation"
    },
    {# Get the entire schema:geo json block #}
    {% if data['schema:geo']%}
    "geo": {{ data['schema:geo'] | to_json }}, 
    {% endif %}

    {# If we had everything in the template we could just do this:
    "gsp:hasGeometry": {{ data['gsp:hasGeometry'] | to_json }},     
    #}
    {% if data['gsp:hasGeometry'] %}
   "gsp:hasGeometry": {
          "@type": "{{ data['gsp:hasGeometry']['@type'] }}", 
          "gsp:asWKT": {{ data['gsp:hasGeometry']['gsp:asWKT'] | to_json }},
          {# Have to hard code this here, it is the one thing not returned in the gps:hasGeometry block in the original jsonld template #}
          "gsp:crs": {
            "@id": "http://www.opengis.net/def/crs/OGC/1.3/CRS84"
          }
    },
    {% endif %}

    "hyf:referencedPosition": {
      "hyf:HY_IndirectPosition": {
         "hyf:linearElement": {
          "@id": "https://geoconnex.us/ref/mainstems/{# We can't get this info without a geospatial query  #}"
        }
      }
    },


    "subjectOf": {
      "@type": "Dataset",
      {% if data['name']%}
      "name": "Discharge data from USGS Monitoring Location {{ data['name']}}",
      {% endif %}
      {% if data['monitoringLocationName']%}
      "description": "Discharge data from USGS Streamgage at {{ data['monitoringLocationName']}}",
      {% endif %}
        "provider": {
      "url": "https://waterdata.usgs.gov",
      "@type": "GovernmentOrganization",
      "name": "U.S. Geological Survey Water Data for the Nation"
    },
    "url": "https://waterdata.usgs.gov/monitoring-location/08282300/#parameterCode=00060",
      "variableMeasured": {
        "@type": "PropertyValue",
        "name": "discharge",
        "description": "Discharge in cubic feet per second",
        "propertyID": "https://www.wikidata.org/wiki/Q8737769",
        "url": "https://en.wikipedia.org/wiki/Discharge_(hydrology)",
        "unitText": "cubic feet per second",
        "qudt:hasQuantityKind": "qudt-quantkinds:VolumeFlowRate",
        "unitCode": "qudt-units:FT3-PER-SEC",
        "measurementTechnique": "observation",
        "measurementMethod": {
          "name": "Discharge Measurements at Gaging Stations",
          "publisher": "U.S. Geological Survey",
          "url": "https://doi.org/10.3133/tm3A8"
        }
      },
      {# There are multiple phenomenon time, but they are the same so we can just pick either#}
      {# Could null check each part of the query all the way down as well for complete coverage#}
      {% if data['Datastreams'][0] is defined and data['Datastreams'][0]['observedArea']['phenomenonTime'] %}      "temporalCoverage": "{{ data['Datastreams'][0]['observedArea']['phenomenonTime']}}",
      {% endif %}
      "dc:accrualPeriodicity": "freq:daily",                                                               
      "dcat:temporalResolution": {"@value":"PT15M","@type":"xsd:duration"},  
      "distribution": [
        {
          "@type": "DataDownload",
          "name": "USGS Instantaneous Values Service",
          "contentUrl": "https://waterservices.usgs.gov/nwis/iv/?sites=08282300&parameterCd=00060&format=rdb",
          "encodingFormat": [
            "text/tab-separated-values"
          ],
          "dc:conformsTo": "https://pubs.usgs.gov/of/2003/ofr03123/6.4rdb_format.pdf"
        },
        {
          "@type": "DataDownload",
          "name": "USGS SensorThings API",
          "contentUrl": "https://labs.waterdata.usgs.gov/sta/v1.1/Datastreams('0adb31f7852e4e1c9a778a85076ac0cf')?$expand=Thing,Observations",
          "encodingFormat": [
            "application/json"
          ],
          "dc:conformsTo": "https://labs.waterdata.usgs.gov/docs/sensorthings/index.html"
        }
      ]
    }
  }